.info {
    display: flex;
    flex-direction: column;
    width: 400px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.info__title {
    display: flex;
    column-gap: 10px;
}

.info__photo {
    width: 10rem;
    height: 10rem;
}

img {
    border-radius: 50%;
    width: 100%;
}

.info__about {
    font-size: 14px;
    font-weight: 400;
    align-self: center;
    white-space: pre-wrap;
}

.info__desc {
    margin-top: 30px;
}
