.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0.5rem;
}

.header {
    flex: 1 1 10vh;
}

.main_block {
    display: flex;
    gap: 1rem;
    flex: 3 1 85vw;
    margin-top: 1rem;
}

.aside {
    flex: 1 1 10vw;
    box-shadow: var(--shadow);
}

.main_content {
    flex: 6 6 85vw;
    box-shadow: var(--shadow);
    border-radius: .3rem;
    padding: .5rem;
}

.footer {
    flex: 1 1 10vh;
}
