@use "./vars";

$column-count-s: 2;
$column-count-m: 2;
$column-count-l: 4;

.column {
    box-sizing: border-box;

    @media (max-width: 767px) {
        width: 100%;
    }

    @media (min-width: 768px) {
        width: calc(50% - 40px);
        max-width: 455px;
    }

    @media (min-width: 1000px) {
        width: calc(25% - 15px);
        max-width: 325px;
    }
}
