.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 0.5rem;
}

.main_block {
    display: flex;
    gap: 1rem;
    flex: 3 1 1vw;
    margin-top: 1rem;
}

.aside {
    flex: 1 1 10vw;
    box-shadow: var(--shadow);
}

.main_content {
    flex: 6 6 85vw;
    box-shadow: var(--shadow);
    border-radius: .3rem;
    padding: .5rem;
}
